:root {
  --cor-primaria-escura: #000A28;
  --cor-primaria: #011142;
  --cor-primaria-media: #152A5C;
  --cor-primaria-clara: #3C4E7D;
  --cor-primaria-suave: #8D96B8;

  --cor-fundo: #F5F6FA;
  --cor-branco: #FFFFFF;
  --cor-texto: #1C1E26;
  --cor-cinza: #6B7280;

  --cor-destaque: #E8A33D;
}